.Home_page {
	background-image: url(../../images/RewolfLogo.jpg);
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: center;
}
.Home_page-discovery {
	text-align: center;
	height: 50%;
	background-color: #e0a877;
	height: 75px;
	padding: 10%;
}

.Home_page-review {
	text-align: center;
	background-color: #e0a877;
	height: 75px;
	padding: 10%;
}
a {
	font-size: 24px;
	text-decoration: none;
	color: white;
}
.Space {
	padding: 15%;
}
.Change {
	text-align: center;
	background-color: #e0a877;
	height: 75px;
	padding: 10%;
}
